# Supabase Configuration
# ================================================
# Copie este arquivo para .env.local e preencha com suas credenciais
# Você encontra essas informações em: Supabase Dashboard > Settings > API
# ================================================

NEXT_PUBLIC_SUPABASE_URL=https://mzmcejtxhkhrcebxegqh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16bWNlanR4aGtocmNlYnhlZ3FoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3ODc5ODMsImV4cCI6MjA4MDM2Mzk4M30.HbZDedi1U4GY-jNMyqGA2oA95iT7RpEyybAEFroaAxA
